<h2>Country list</h2>
<p><input class="input-search" type="search" name="q" ng-model="q" placeholder="filter countries..."></p>
<table class="table country-list">
  <thead>
  <th>#</th>
  <th>Name</th>
  <th>Capital</th>
  <th>Region</th>
  </thead>
  <tbody>


  <tr ng-repeat="countryItem in list.countryListData | filter:q as results">
    <td>{{$index+1}}</td>
    <td><a class="" ui-sref="root.details({ alpha3Code : countryItem.alpha3Code, currencies : countryItem.currencies })"
    >{{countryItem.name}}</a></td>
    <td>{{countryItem.capital}}</td>
    <td>{{countryItem.region}}</td>
  </tr>
  </tbody>
</table>
